@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  background-color: #f3f2f0;
}

.Top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 20px;
  font-size: 24px;
  font-weight: 800;
  color: #700028;
  z-index: 5;
}
.Top-bar h4{
  display: flex;
  align-self: center;
  font-size: 40px;
  font-weight: 600;
  color: #700028;
  
}
.back a{
  align-self: baseline;
  font-size: 24px;
  color: #333;
  margin-left: 40px;
  text-decoration: none;
}

.gift-ideas{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding: 40px;
  
}

.the-gift-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: solid 2px #eeeeee;
}

.the-gift-card:hover {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 2px rgba(193, 199, 201, 0.776);
  
}

.cardimage {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  justify-self: center;

}

.textt {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.textt h4 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-top: 10px;
}



@media (min-width: 375px) and (max-width: 576px) {
  .Top-bar {
    padding: 0 50px;
    margin: 0px;
    z-index: 5;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px;
  justify-content: space-between;
  }

  .Top-bar h4{
    display: flex;
    align-self: center;
    font-size: 24px;
    font-weight: 600;
    color: #700028;
    
  }
  .back a{
    align-self: baseline;
    font-size: 16px;
    color: #333;
    margin-left: 40px;
    text-decoration: none;
  }

  .gift-ideas{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 40px;
    
  }

  .the-gift-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: solid 2px #eeeeee;
  }
  
  .the-gift-card:hover {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 2px rgba(193, 199, 201, 0.776);
    
  }
  
  .cardimage {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    justify-self: center;
  
  }
  
  .textt {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    align-self: stretch;
    position: relative;
    bottom: 0;
  }
  
  .textt h4 {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 4px;
    padding-top: 4px;
  }

  


}